@import "../../sass/mixins.scss";

.todo_item_container {
  @include flex(flex, row, center, space-between);
  width: 100%;
  color: black;
  padding: 15px;
  font-size: 18px;
  background-color: white;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid rgba(63, 140, 255, 0.5);
  border-top: 1px solid rgba(63, 140, 255, 0.5);
  gap: 10px;
  &.complete {
    background-color: #d3ffdf;
  }
}

.todo_item_content {
  transition: 0.2s ease-in-out;
  color: black;
  text-align: start;
  word-break: break-word;
  max-width: 450px;
  line-height: 1.2;
  &.complete {
    color: #389a53;
    text-decoration: line-through;
  }
  @media screen and (max-width: 500px) {
    max-width: 250px;
  }
}

.todo_item_actions {
  @include flex(flex, row, center, center);
  gap: 10px;
}

.todo_item_icon {
  @include flex(flex, row, center, center);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
  &.complete {
    background-color: #4dd272;
  }
  &.delete {
    background-color: #ffdcdc;
  }
}
