@import "../../sass/mixins.scss";

.todos_container {
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(63, 140, 255, 0.5);
  background-color: white;
  width: 600px;
  height: 500px;
  overflow-y: hidden;
}

.todos_header {
  @include flex(flex, row, center, center);
  width: 100%;
  height: 10%;
  background: linear-gradient(270deg, #52bffc 0%, #2ff1fd 100%);
}

.todos_main {
  @include flex(flex, column, center, flex-start);
  overflow-y: scroll;
  gap: 15px;
  padding: 15px;
  width: 100%;
  height: 90%;
  &::-webkit-scrollbar {
    display: none;
  }
}
